body {
  background: #f5f6fa;
  color: #000;
  font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;;
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
}

h1,h2, li { font-size: 1rem; color: #222; }

#completed-list-div {
  display: none;
}

ul#todo__list {
  padding: 0;
  list-style-type: none;

  text-align: left;
  width: 600px;
  margin: 2rem auto 5rem;
  position: relative;
}

ul#todo__list li {
  width: 100%;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 300;
  position: relative;
}

ul#todo__list li::before {
  content: '';
  position: absolute;
  width: 100%;
  border-top: 1px dashed #ccc;
  top: 4px;
}

ul#todo__list li:first-child::before {
  border: 0;
}

span.complete-task {
  position: absolute;
  right: 0;
  text-decoration: none;
  display: inline-block;

  outline: none;
  border-radius: 4px;

  color: #4177c8;
  font-size: 1rem;
  padding: 1rem 1rem;
  font-weight: 300;
  border: 1px solid #4177c8;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

span.complete-task:hover {
  cursor: pointer;
  background: #4177c8;
  color: #fff;
}

li.todo__item--completed {
  color: rgba(0,0,0,.35);
}

li.todo__item--completed span {
  background: #6cbb6c;
  border: 1px solid #6cbb6c;
  color: #fff;
}

li.todo__item--completed span:hover {
  background: #6cbb6c;
  border: 1px solid #6cbb6c;
  color: #fff;
}

input#todo__input {
  outline: none;
  border-radius: 4px 0 0 4px;

  color: #222;
  font-size: 1rem;
  padding: 1rem 1rem;
  font-weight: 300;
  border: 1px solid #4177c8;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

input#todo__input:hover {
  cursor: auto;
}

button#todo__button {
  position: relative;
  left: -1rem;
  font-weight: bold;
  outline: none;
  border-radius: 0 4px 4px 0;
  background-color: #4177c8;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 2rem;
  font-weight: 300;
  border: 1px solid #4177c8;
  transition: all .2s ease-in-out;
  cursor: pointer;
}


button#todo__button:hover {
  cursor: pointer;
  background-color: #2d6dce;
  transition: all .2s ease-in-out;
}

button#todo__button:active {

}
